<template>
  <div>
    <account-container
      title="รายการเสนอขาย"
      action-title=""
      action-link="/account/edit"
    >
      <div>
        <div class="offer-wrapper">
          <div class="offer-table">
            <auction-table
              :auctions="auctions"
              :total="auctionPageData.count"
              is-auction
              :current-page="currentPage"
              @onRemove="onRemove"
              @changePage="page => onChangePage(page)"
            />
          </div>
        </div>
      </div>
    </account-container>
  </div>
</template>
<script>
import { call, get } from 'vuex-pathify'
import { mapWaitingActions } from 'vue-wait'
import AuctionTable from './components/AuctionTable'
import AccountContainer from '~/components/account/AccountContainer.vue'

export default {
  components: {
    AccountContainer,
    AuctionTable
  },
  layout: 'account',
  data () {
    return {
      searchData: {
      },
      status: 'BID',
      pageData: {
        BID: 1
      },
      currentPage: +this.$route.query.page || 1
    }
  },
  async fetch ({ store }) {
    try {
      await store.dispatch('auth/fetchMe')
    } catch (e) {

    }
  },
  computed: {
    auctions: get('auction/auctions'),
    user: get('auth/user'),
    auctionPageData: get('auction/auctionPageData')
  },
  methods: {
    ...call('auction', [
      'setBiddingAuction',
      'fetchAuctions',
      'removeAuction'
    ]),
    ...mapWaitingActions('auction', {
      removeAuction: 'base loading'
    }),
    async initiateData () {
      this.$wait.start('base loading')
      await this.fetchAuctions({ page: this.currentPage, userId: this.user.id })
      this.$wait.end('base loading')
    },
    onChangePage (page) {
      const { ...filterQuery } = this.$route.query
      this.currentPage = page.current
      this.$router.replace({ name: 'account-sell-offer', query: { ...filterQuery, page: page.current } })
      this.initiateData()
    },
    showConfirm (id) {
      const self = this
      this.$confirm({
        title: 'ลบการประมูล',
        content: 'คุณต้องการลบการประมูล นี้หรือไม่ ?',
        onOk () {
          return new Promise(async (resolve, reject) => {
            try {
              await self.removeAuction(id)
              self.$notification.success({
                message: 'Success',
                description: 'ทำการลบสำเร็จ'
              })
              resolve()
              await self.initiateData()
            } catch (error) {
              self.$notification.error({
                message: 'Error',
                description: 'การข้อผิดพลาด ไม่สามารถลบได้'
              })
              reject(error)
            }
          })
        },
        onCancel () {}
      })
    },
    onRemove (id) {
      this.showConfirm(id)
    }
  },
  async created () {
    await this.initiateData()
  }
}
</script>

<style lang="less" scoped>
.offer-wrapper {
  padding: 20px 0px;
}
.offer-table {
  .ant-table-wrapper {
    background: white;
    border-radius: 4px;
    border-top-left-radius: 0px;
    /deep/ .ant-table-thead > tr > th {
      background: white;
    }
  }
}
</style>
