<template>
  <div>
    <account-container title="ข้อมูลส่วนตัวการจ้างงาน">
      <div>
        <a-form>
          <div class="form-wrapper">
            <a-form-item
              label="ชื่อ"
              :label-col="{ span: 5 }"
              :wrapper-col="{ span: 12 }"
            >
              <a-input
                v-model="firstName"
                placeholder="ชื่อ"
              />
            </a-form-item>
            <a-form-item
              label="นามสกุล"
              :label-col="{ span: 5 }"
              :wrapper-col="{ span: 12 }"
            >
              <a-input
                v-model="lastName"
                placeholder="นามสกุล"
              />
            </a-form-item>
            <a-form-item
              label="ประเภทงาน"
              :label-col="{ span: 5 }"
              :wrapper-col="{ span: 12 }"
            >
              <a-select
                placeholder="ประเภทงาน"
                @change="(value) => this.employmentType = value"
              >
                <a-select-option value="HARVEST">
                  เก็บเกี่ยว
                </a-select-option>
                <a-select-option value="CUT">
                  ตัด
                </a-select-option>
              </a-select>
            </a-form-item>
            <a-form-item
              label="เพิ่มเติม"
              :label-col="{ span: 5 }"
              :wrapper-col="{ span: 12 }"
            >
              <a-textarea
                v-model="detail"
                :autosize="{ minRows: 4, maxRows: 8 }"
                placeholder="เพิ่มเติม"
              />
            </a-form-item>
            <a-form-item
              label="จำนวนคนงาน"
              :label-col="{ span: 5 }"
              :wrapper-col="{ span: 12 }"
            >
              <a-input-number
                v-model="numWorker"
                style="width: 100%"
                placeholder="จำนวนคนงาน"
              />
            </a-form-item>
            <a-form-item
              label="รูป"
              :label-col="{ span: 5 }"
              :wrapper-col="{ span: 12 }"
            >
              <div class="dropbox">
                <a-upload-dragger
                  :multiple="false"
                  :file-list="fileList"
                  :before-upload="beforeUpload"
                  :show-upload-list="{
                    showPreviewIcon: false
                  }"
                  name="files"
                >
                  <p class="ant-upload-drag-icon">
                    <a-icon type="inbox" />
                  </p>
                  <p class="ant-upload-text">
                    Click or drag file to this area to upload
                  </p>
                  <p class="ant-upload-hint">
                    Support for a single or bulk upload.
                  </p>
                </a-upload-dragger>
              </div>
            </a-form-item>
          </div>
          <!-- <div class="content-wrapper">
            <div class="title-wrapper">
              <span class="title">รายชื่อสมาชิก</span>
            </div>
            <div class="form-wrapper">
              <a-form-item
                label='รายชื่อสมาชิก'
                :labelCol="{ span: 5 }"
                :wrapperCol="{ span: 12 }">
                <a-textarea
                  :autosize="{ minRows: 4, maxRows: 8 }"
                  placeholder='รายชื่อสมาชิก'
                  v-decorator="[
                    'note',
                    {rules: [{ required: true, message: 'Please input your note!' }]}
                  ]" />
              </a-form-item>
            </div>
          </div> -->
          <div class="content-wrapper">
            <div class="title-wrapper">
              <span class="title">ที่ตั้ง</span>
            </div>
            <div class="form-wrapper">
              <a-form-item
                label="ที่อยู่"
                :label-col="{ span: 5 }"
                :wrapper-col="{ span: 12 }"
              >
                <a-input
                  v-model="addressDetail"
                  placeholder="ที่อยู่"
                />
              </a-form-item>
              <a-form-item
                label="จังหวัด"
                :label-col="{ span: 5 }"
                :wrapper-col="{ span: 12 }"
              >
                <a-select
                  v-model="provinceId"
                  placeholder="จังหวัด"
                  @change="onSelectProvice"
                >
                  <a-select-option
                    v-for="(province, index) in provinces"
                    :key="index"
                    :value="province.id"
                  >
                    {{ province.name.th }}
                  </a-select-option>
                </a-select>
              </a-form-item>
              <a-form-item
                label="เขต/อำเภอ"
                :label-col="{ span: 5 }"
                :wrapper-col="{ span: 12 }"
              >
                <a-select
                  v-model="districtId"
                  placeholder="เขต/อำเภอ"
                  not-found-content="กรุณาเลือก จังหวัด"
                  @change="onSelectDistrict"
                >
                  <a-select-option
                    v-for="(district, index) in filterDistricts"
                    :key="index"
                    :value="district.id"
                  >
                    {{ district.name.th }}
                  </a-select-option>
                </a-select>
              </a-form-item>
              <a-form-item
                label="แขวง/ตำบล"
                :label-col="{ span: 5 }"
                :wrapper-col="{ span: 12 }"
              >
                <a-select
                  v-model="subDistrictId"
                  placeholder="แขวง/ตำบล"
                  not-found-content="กรุณาเลือก เขต/อำเภอ"
                  @change="onSelectSubDistrict"
                >
                  <a-select-option
                    v-for="(subDistrict, index) in filterSubDistricts"
                    :key="index"
                    :value="subDistrict.id"
                  >
                    {{ subDistrict.name.th }}
                  </a-select-option>
                </a-select>
              </a-form-item>
              <a-form-item
                label="รหัสไปรษณีย์"
                :label-col="{ span: 5 }"
                :wrapper-col="{ span: 12 }"
              >
                <a-select
                  v-model="postalCodeId"
                  placeholder="รหัสไปรษณีย์"
                  not-found-content="กรุณาเลือก แขวง/ตำบล"
                  @change="onSelectPostalCode"
                >
                  <a-select-option
                    v-for="(postalCode, index) in filterPostalCodes"
                    :key="index"
                    :value="postalCode.id"
                  >
                    {{ postalCode.code }}
                  </a-select-option>
                </a-select>
              </a-form-item>
            </div>
          </div>
          <div class="action-wrapper">
            <a-button class="oa-button is-danger" size="large" :style="{marginRight: '18px'}">
              ลบ
            </a-button>
            <a-button class="oa-button" size="large" :style="{marginRight: '18px'}">
              ยกเลิก
            </a-button>
            <a-button class="oa-button is-primary" size="large" @click="handleSubmit()">
              บันทึก
            </a-button>
          </div>
        </a-form>
      </div>
    </account-container>
  </div>
</template>
<script>
import { call, get } from 'vuex-pathify'
import AccountContainer from '~/components/account/AccountContainer.vue'
// import LoadingModal from '~/components/loading-modal.vue'
import districts from '~/configs/address/districts.json'
import postalCodes from '~/configs/address/postal_codes.json'
import provinces from '~/configs/address/provinces.json'
import subDistricts from '~/configs/address/subdistricts.json'
export default {
  components: {
    AccountContainer
    // LoadingModal
  },
  data () {
    return {
      firstName: '',
      lastName: '',
      title: '',
      detail: '',
      phoneNumber: '',
      numWorker: '',
      employmentType: '',

      addressDetail: '',
      country: 'ประเทศไทย',
      provinceId: undefined,
      districtId: undefined,
      subDistrictId: undefined,
      postalCodeId: undefined,
      districts,
      postalCodes,
      provinces,
      subDistricts,

      file: null,
      url: null,
      fileList: []
    }
  },
  computed: {
    ...get('auth', {
      user: 'user'
    }),
    filterDistricts () {
      return this.districts.filter((value, index, array) => {
        return value.provinceId === this.provinceId
      })
    },
    filterSubDistricts () {
      const result = this.subDistricts.filter((value, index, array) => {
        return value.districtId === this.districtId
      }).filter((value, index, array) => {
        return postalCodes.some(postalCode => postalCode.districtCode === value.code)
      })
      return result
    },
    filterPostalCodes () {
      const subDistrict = this.filterSubDistricts.filter((value, index, array) => {
        return value.id === this.subDistrictId
      })
      const districtCode = (subDistrict && subDistrict[0] && subDistrict[0].code) || -1
      return postalCodes.filter((value, index, array) => {
        return value.districtCode === districtCode
      })
    }
  },
  mounted () {
    this.firstName = this.user.firstName
    this.lastName = this.user.lastName
  },
  methods: {
    ...call('employment', [
      'createEmployment'
    ]),
    handleSubmit () {
      this.isLoading = true
      const payload = new FormData()
      payload.append('name', this.firstName + ' ' + this.lastName)
      payload.append('detail', this.detail)
      payload.append('employment_type', this.employmentType)
      payload.append('num_wokers', this.numWorker)
      payload.append('phone_number', this.phoneNumber)
      payload.append('country', this.country)
      payload.append('address_detail', this.addressDetail)
      payload.append('province_id', this.provinceId)
      payload.append('district_id', this.districtId)
      payload.append('sub_district_id', this.subDistrictId)
      payload.append('postal_code_id', this.postalCodeId)
      if (this.file) { payload.append('thumbnail_url', this.file) }

      const formEntries = Array.from(payload.entries())
      console.log('formEntries ', formEntries)

      this.createEmployment(payload).then(() => {
        this.openNotificationWithIcon('success', 'สำเร็จ', 'เปลี่ยนข้อมูลที่อยู่สำเร็จ')
      }).catch(() => {
        this.openNotificationWithIcon('error', 'ไม่สำเร็จ', 'เปลี่ยนข้อมูลที่อยู่ไม่สำเร็จ โปรดตรวจสอบอีกครั้ง')
      }).finally(() => {
        this.isLoading = false
      })
    },
    beforeUpload (file) {
      this.file = file
      console.log(file)
      this.fileList = [file]
      this.url = URL.createObjectURL(file)
      return false
    },
    removeUploadFile () {
      this.file = null
      this.fileList = []
    },
    onSelectProvice (proviceId) {
      this.provinceId = proviceId
      this.districtId = undefined
      this.subDistrictId = undefined
      this.postalCodeId = undefined
    },
    onSelectDistrict (districtId) {
      this.districtId = districtId
      this.subDistrictId = undefined
      this.postalCodeId = undefined
    },
    onSelectSubDistrict (subDistrictId) {
      this.subDistrictId = subDistrictId
      this.postalCodeId = undefined
    },
    onSelectPostalCode (postalCodeId) {
      this.postalCodeId = postalCodeId
    },
    openNotificationWithIcon (type, message, description) {
      this.$notification[type]({
        message,
        description,
        duration: 2
      })
    }
  },
  layout: 'account'
}
</script>

<style lang="less" scoped>
.content-wrapper {
  .title-wrapper {
    border-bottom: 1px solid rgba(158, 158, 158, 0.4);
    padding-bottom: 7px;
    display: flex;
    justify-content: space-between;
    .title {
      color: #424242;
      font-size: 1.6rem;
      font-weight: 500
    }
  }
}
.form-wrapper {
  padding: 20px 0;
  @media only screen and (min-width: 992px) {
    padding: 20px 80px;
  }
  /deep/ .ant-input {
    height: 40px;
    &::placeholder {
      color: #95989a;
    }
  }
  /deep/ .ant-select-selection--single {
    height: 40px;
  }
  /deep/ .ant-form-item {
    margin-bottom: 20px;
  }
  /deep/ .ant-select-selection__rendered {
    line-height: 38px;
  }
  /deep/ .ant-select-selection__placeholder {
    color: #95989a;
    font-weight: 400;
    font-size: 1.4rem;
  }
  /deep/ .ant-form-item-label > label {
    color: #424242;
  }
}
.mock-img {
  background: #424242;
  &.small {
    margin-top: 10px;
    height: 93px;
  }
}
.action-wrapper {
   border-top: 1px solid rgba(158, 158, 158, 0.4);
   display: flex;
   justify-content: flex-end;
   padding-top: 36px;
}

.cancel {
  width: 100px;
}
.remove {
  width: 100px;
  color: white;
  background: #f20000;
}
.save {
  width: 100px;
  color: white;
  background: #ff9300;
}
</style>
