<template>
  <div class="search-content-container">
    <div class="search-content-section">
      <div class="search-content-label">
        จังหวัด :
      </div>
      <div class="search-content-select">
        <a-select
          placeholder="จังหวัด"
          :value="provinceId"
          @change="e => $emit('update:provinceId', e)"
        >
          <a-select-option
            v-for="(province, index) in provinces"
            :key="index"
            :value="province.id"
          >
            {{ province.name.th }}
          </a-select-option>
        </a-select>
      </div>
    </div>
    <div class="search-content-section">
      <div class="search-content-label">
        มาตรฐาน :
      </div>
      <div class="search-content-select">
        <a-select
          placeholder="มาตรฐาน"
          :value="farmStandardId"
          @change="e => $emit('update:farmStandardId', e)"
        >
          <a-select-option
            v-for="(farmStandard, index) in farmStandards"
            :key="index"
            :value="farmStandard.id"
          >
            {{ farmStandard.name }}
          </a-select-option>
        </a-select>
      </div>
    </div>
    <div class="search-content-section">
      <div class="search-content-label">
        จำนวนต้นต่ำสุด (ต้น) :
      </div>
      <div class="search-content-select">
        <a-input
          placeholder="จำนวนต้นต่ำสุด (ต้น)"
          :value="numTree"
          @change="e => $emit('update:numTree', e.target.value)"
        />
      </div>
    </div>
    <div class="search-content-section">
      <div class="search-content-label">
        พื้นที่ปลูกต่ำสุด (ไร่) :
      </div>
      <div class="search-content-select">
        <a-input
          placeholder="พื้นที่ปลูกต่ำสุด (ไร่)"
          :value="numArea"
          @change="e => $emit('update:numArea', e.target.value)"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'FarmSearch',
  props: {
    provinces: Array,
    farmStandards: Array,
    provinceId: Number,
    farmStandardId: Number,
    numTree: [String, Number],
    numArea: [String, Number]
  }
}
</script>

<style lang="scss">
.search-content-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 30px;
  .search-content-section {
    width: 100%;
    margin-bottom: 10px;
    .search-content-label {
      display: inline-block;
      width: 130px;
      text-align: left;
      margin-right: 10px;
      @media only screen and (min-width: 768px) {
        text-align: right;
      }
    }
    .search-content-select {
      display: inline-block;
      width: 224px;
      .ant-select {
        width: 100%;
      }
    }

    .search-content-input {
      display: inline-block;
      width: 224px;
    }
  }
}
</style>
