<template>
  <div class="search-menu-container">
    <a-tabs
      class="dp-none-md-min"
      :active-key="tabsActiveKey"
      @change="setActive"
    >
      <a-tab-pane
        v-for="(title, index) in titles"
        :key="`${index}`"
        :tab="title"
      />
    </a-tabs>
    <search-menu-item
      v-for="(title, index) in titles"
      :key="index"
      class="dp-none-max-md"
      :title="title"
      :activated-menu="activatedMenu"
      @setActive="setActive"
    />
  </div>
</template>

<script>
import SearchMenuItem from './search-menu-item'

export default {
  name: 'SearchMenu',
  components: {
    SearchMenuItem
  },
  props: {
    titles: {
      type: Array
    },
    activatedMenu: {
      type: String
    }
  },
  computed: {
    tabsActiveKey () {
      return this.titles.indexOf(this.activatedMenu).toString()
    }
  },
  methods: {
    setActive (menu) {
      const result = isNaN(menu) ? menu : this.titles[menu]
      this.$emit('setActive', result)
    }
  }
}
</script>

<style lang="less" scoped>
.dp-none-max-md {
  @media only screen and (max-width: 767px) {
    display: none;
  }
}
.dp-none-md-min {
  @media only screen and (min-width: 768px) {
    display: none;
  }
}
</style>

<style lang="less">
.search-menu-container {
  height: 100%;
  @media only screen and (min-width: 768px) {
    border-right: 1px solid #9e9e9e;
  }
}
.ant-tabs-bar {
  border-bottom: 0;
}
.ant-tabs-tab {
  font-size: 1.4rem;
}
.ant-tabs-nav .ant-tabs-tab-active,
.ant-tabs-nav .ant-tabs-tab:hover {
  color: rgba(255, 167, 38, 1);
}
.ant-tabs-ink-bar {
  background: rgba(255, 167, 38, 1);
}
</style>
