<template>
  <div>
    <base-header />
    <nuxt />
    <base-footer />
    <!-- <loading-modal v-if="$wait.is('base loading')" /> -->
  </div>
</template>

<script>
import BaseHeader from '~/components/base-header'
import BaseFooter from '~/components/base-footer'

// import LoadingModal from '~/components/loading-modal'

export default {
  name: 'DefaultLayout',
  components: {
    BaseHeader,
    BaseFooter
    // LoadingModal
  }
}
</script>

<style scoped>
.ovf-y-hidden {
  overflow-y: hidden;
}
</style>
