<template>
  <a-modal
    title="ค้นหาอย่างละเอียด"
    :visible="visible"
    wrapClassName="search__modal"
    centered
    :footer="null"
    @cancel="onClose()"
    @ok="onClose()">
    <a-row>
      <a-col :md="{ span: 5 }">
        <div class="section">
          <search-menu
            :titles="['ผลผลิต', 'ฟาร์ม', 'การประมูล']"
            :activatedMenu="activatedMenu"
            @setActive="setActive" />
        </div>
      </a-col>
      <a-col :md="{ span: 19 }">
        <div class="section">
          <product-search v-if="activatedMenu === 'ผลผลิต'" />
          <farm-search v-if="activatedMenu === 'ฟาร์ม'" />
          <auction-search v-if="activatedMenu === 'การประมูล'" />
        </div>
      </a-col>
    </a-row>
    <a-row>
      <div class="footer-section">
        <a-button class="oa-button is-primary">
          ค้นหา
        </a-button>
      </div>
    </a-row>
  </a-modal>
</template>

<script>
import SearchMenu from './search-menu'
import ProductSearch from './product-search'
import FarmSearch from './farm-search'
import AuctionSearch from './auction-search'
export default {
  components: {
    SearchMenu,
    ProductSearch,
    FarmSearch,
    AuctionSearch
  },
  props: {
    visible: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      activatedMenu: 'ผลผลิต',
      criterias: {
        type: '',
        breed: '',
        name: '',
        branch: '',
        province: '',
        area: '',
        trees: '',
        products: '',
        startDate: '',
        endDate: '',
        startPrice: '',
        maxPrice: ''
      }
    }
  },
  methods: {
    setActive: function (menu) {
      this.activatedMenu = menu
    },
    onClose: function () {
      this.$emit('onClose')
    }
  }
}
</script>

<style lang="scss">
.search__modal {
  @media only screen and (max-width: 768px) {
    overflow: hidden;
  }
  .ant-modal {
    width: auto !important;
  }
  @media only screen and (min-width: 768px) {
    .ant-modal {
      width: 70% !important;
      height: 600px !important;
      .ant-modal-content {
        padding: 30px 40px;
        height: 100%;
        .ant-modal-body {
          height: 377px;
        }
      }
    }
  }
}

.section {
  padding: 0;
  @media only screen and (min-width: 768px) {
    height: 377px;
  }
}

.custom-button {
  background-color: #ffb300;
  width: 120px;
  height: 40px;
  border-radius: 4px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: 0;
  color: white;
  margin-left: auto;
}

.custom-button:hover {
  box-shadow: inset 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.footer-section {
  display: flex;
  justify-content: flex-end;
  @media only screen and (max-width: 767px) {
    padding-top: 24px;
  }
}
</style>
