<template>
  <base-container>
    <a-card class="card farm__container mg-t-21px">
      <section class="farm__form">
        <h2 class="farm__title">
          บทความทั้งหมด
        </h2>
        <a-row :gutter="20" :style="{ minHeight: '384px' }">
          <a-col v-for="article in articles" :key="article.id" class="pd-vtc-10px is-wrapped" :md="{ span: 8 }">
            <a-card class="card info" hoverable @click="moreDetail(article.id)">
              <div
                slot="cover"
                class="pd-all-15px img-wrapper"
                alt="farm-avatar"
                :style="{ backgroundImage: `url('${mapMediaPath(article.thumbnailUrl)}')`}"
              />
              <div class="f-w-500 cl-primary title">
                {{ article.title }}
              </div>
              <div class="f-w-300 mg-bt-10px preview">
                {{ article.preview }}
              </div>
            </a-card>
          </a-col>
        </a-row>
      </section>
      <a-pagination
        v-model="currentPage"
        class="mg-t-24px t-al-end"
        :total="articlesPage.count"
        :page-size="12"
        @change="onChangePage"
      />
    </a-card>
  </base-container>
</template>

<script>
import { call, get } from 'vuex-pathify'
import { mapWaitingActions } from 'vue-wait'
const DEFAULT_MEDIA = require('~/assets/images/mango.jpg')

export default {
  name: 'FarmPage',
  layout: 'gray-background',
  computed: {
    articles: get('article/articles'),
    articlesPage: get('article/articlesPage')
  },
  async asyncData ({ isDev, route, store, env, params, query, req, res, redirect, error }) {
    await store.dispatch('article/fetchArticles', { page: query.page })
  },
  data () {
    return {
      currentPage: +this.$route.query.page || 1,
      searchData: {}
    }
  },
  watchQuery: ['page'],
  methods: {
    ...call('article', [
      'fetchArticles'
    ]),
    ...mapWaitingActions('article', {
      fetchArticles: 'base loading'
    }),
    mapMediaPath (media) {
      return media || DEFAULT_MEDIA
    },
    reduceObjectNumber (obj) {
      return Object.keys(obj).reduce((acc, key) => { return { ...acc, [key]: +obj[key] } }, {})
    },
    onChangePage (page) {
      this.$router.push({ name: 'article', query: { page } })
    },
    initArticles () {
      const reduceObjectNumber = obj => Object.keys(obj).reduce((acc, key) => { return { ...acc, [key]: +obj[key] } }, {})
      this.searchData = this.$route.query
        ? reduceObjectNumber(this.$route.query)
        : undefined
      this.fetchArticles({ ...this.searchData })
    },
    moreDetail (id) {
      console.log(id)
      this.$router.push({ name: 'article-id', params: { id } })
    }
  },
  mounted () {
    // this.initArticles()
  }
}
</script>

<style lang="less" scoped>
.end-line () {
  border-bottom: 1px solid rgba(158, 158, 158, 0.4);
}
.farm {
  &__container {
    @media only screen and (min-width: 480px) {
      min-height: 576px;
    }
  }
  &__title {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 24px;
    padding-bottom: 10px;
    .end-line();
  }
  &__content {
    padding: 0 33px;
  }
}
.img-wrapper {
  height: 220px;
  background-color: white;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.title {
  font-size: 2.0rem;
}
.info {
  min-height: 150px;
}
.preview {
  margin-top: 4px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
}
</style>
